/*Header style*/
.header {
    background: #dac3b3;
    display: flex;
}

.links,
.logo{
  display: flex;
  align-items: center;
  padding: 0px 166px;
  gap: 16px;
}

.links{
  margin-left: auto;
}

h1,a {
  font-size: 25px;
  font-family: Ubuntu, Oxygen;
  text-decoration: none;
}

.textrecipes{
  color: black;
}

.textabout{
 color: #696969;
}

.textblog{
  color: white;
}

/*Content style*/
/*Text on the left*/
.textcontainer{

}


/*Photos on the right*/








/* text formating */ 
/*
.textcontainer{
  display:inline-block;
  
  
  /*position:absolute;
  left: 12%;*/

  /*
  font-size: 20px;
  font-family: Ubuntu, Oxygen;
  padding-left: 300px;
  width: 550px;
  min-height:700px;
}

.textheadings{
  font-size: 25px;
  text-align: center;
}


#firstbutton,
#secondbutton{
border-radius: 20px;
width: 175px;
height: 39px; 
border-style: solid;
margin-left: 33%;
font-size: 20px;
font-family: Ubuntu, Oxygen;


}
#firstbutton{
  border-color: #20232a;
  background: #20232a;
  color: #fff;

}

#secondbutton{
  border-color: #dac3b3;
  background: #dac3b3;
  color: #000;
}

/*section*/
/*
.section{
  display:inline-block;
  font-size: 20px;
  font-family: Ubuntu, Oxygen;
  padding-right: 174px;
  min-height:700px;
  position: absolute;
  right:auto;
  margin-left: 80px;
}

.squarecontainer{
  display:inline-block;
width: 296px;
height: auto;
padding-left:50px;
text-align: center;
margin-bottom: 5px;
}

#generalbutton{
  display: block;
  border-color: #000;
  border-width: 1px;
  background: #fff;
  color: #000;
  border-radius: 20px;
  width: 135px;
  height: 24px; 
  border-style: solid;
  margin-left: 28%;
  font-size: 15px;
  font-family: Ubuntu, Oxygen;
  margin-top: 5px;
}